body {
  background: url('/plugins/civically-user/images/background.png') center / cover #FEFDF9 no-repeat;
}

#custom-wizard-main {
  .wizard-step h1.wizard-step-title {
    margin: 0 0 10px 0;
  }

  .tip {
    margin-top: 10px;
  }
}

#custom-wizard-main.welcome, #custom-wizard-main.neighbourhood-petition, #custom-wizard-main.app-petition {
  .wizard-step-description {
    margin-bottom: 0;
  }

  .wizard-field {
    margin-bottom: 0;
  }

  .field-description {
    display: inline-block;
    vertical-align: middle;
    margin-top: 0;
    color: #333;

    p {
      margin: 0;
    }
  }

  .field-image {
    display: inline-block;
    vertical-align: middle;
    margin-right: 5px;

    img {
      height: 30px;
      width: 30px;
    }
  }

  .wizard-step-footer {
    margin-top: 10px;
  }
}

#custom-wizard-main.neighbourhood-petition {
  .d-editor-preview {
    padding: 12 15px;
    
    p {
      margin: 0;
    }
  }
  
  .d-editor-preview-wrapper {
    display: block;
  }
}

.help-button {
  position: fixed;
  display: none;
  color: $secondary;
  background: $tertiary;
  bottom: 50px;
  right: 50px;
  font-size: 1.5em;
  padding: 10px 17px;
  border-radius: 50%;
  box-shadow: 0 4px 14px rgba(0,0,0,0.15);
  border: none;
}

#custom-wizard-main.neighbourhood-petition, #custom-wizard-main.app-petition, #custom-wizard-main.group-petition {
  & + .help-button {
    display: block;
  }
}
